$form = $("#{escape_javascript(render partial: 'form', object: @notification)}")
$notificationPopup = $(".new-notification-popup")
$modalContent = $notificationPopup.find(".modal-content")
$modalContent.find("form.notification").remove()
$form.appendTo($modalContent)
$notificationPopup.openModal()
