$form = $("#{escape_javascript(render partial: 'form', object: @notification)}")
$notificationPopup = $(".modal.shared")
$modalContent = $notificationPopup.find(".modal-content")
$modalContent.find(".header").html("#{I18n.t('notification.title.new')}")
$modalContent.find("p.content").html($form)
$notificationPopup.openModal()
