.search-filter.row
  .title.col.l12.m12.s12 搜索
  .search.col.l6.m6.s12
    = text_field_tag "", "", class: "browser-default"
  .filter.col.l6.m6.s12
    = select_tag "", options_for_select(LanguageList::COMMON_LANGUAGES.sort_by!{ |x| x.name }.map(&:name)), class: "browser-default"

.users-list.row
  = render partial: 'users/users_list', locals: {users: @users}
