.search-filter {
  margin-top: 35px;
}
.users-list {
  .card-image {
    .activator {
      margin-top: 16px;
      width: 50px;
      float: left;
    }
    .short-desc {
      float: left;
      margin: 16px 0 0 16px;
    }
  }
  .comment-btn { margin-right: 12px; }
}
form.user {
  .user_birthday label {
    float: left;
    width: 100%;
  }
}
